* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: lightblue;
  background-image: url(https://images.unsplash.com/photo-1682685796063-d2604827f7b3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-position: center;
}
.container {
  margin: 10px;
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.tools-area {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 0 15px;
  background-color: rgba(211, 211, 211, 0.385);
}
.tools {
  display: flex;
  width: 70%;
  justify-content: space-between;
  align-items: center;
}
.tools .color {
  display: flex;
  align-items: center;
}
input[type="color"] {
  border: none;
  width: 20px;
  height: 15px;
  background-color: transparent;
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: 2px solid lightgray;
}
label,
i {
  margin: 0 3px;
  cursor: pointer;
}
.buttons button {
  border: none;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}
.buttons .save {
  background-color: rgb(224, 144, 47);
}
.buttons .save:hover {
  background-color: rgb(63, 121, 140);
}
.buttons .clear:hover {
  background-color: lightgray;
}
.darw-area canvas {
  width: 100%;
  height: 450px;
  border-radius: 0 0 10px 10px;
  background-color: #fff;
}
.active {
  color: rgb(251, 251, 251);
}
